# Coding environments
.vscode

# pipenv
Pipfile
Pipfile.lock

# testing files
reddit_subreddit_scraper/test.py
reddit_subreddit_scraper/test.txt
reddit_subreddit_scraper/rss_notes.txt
reddit_subreddit_scraper/__pycache__/