# Coding environments
.vscode

# pipenv
Pipfile
Pipfile.lock

# testing files
reddit_submission_scraper/test.py
reddit_submission_scraper/test.txt
reddit_submission_scraper/rss_notes.txt
reddit_submission_scraper/__pycache__/